body {
    background: linear-gradient(#159b77, #0f0f0f);
}

.title-header {
    background-color: transparent;
}

.content-container {
    padding-top: .8cm;
    width: 100%;
    height: 3.7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container span {
    font-size: 1.8cm;
    color: #25daa9;
    animation: icon-show-animation 1s ease;
}

.content-container p {
    color: #e9ecef;
    text-align: center;
    font-size: .8rem;
}

@keyframes icon-show-animation {
    0% {
        transform: scale(0) rotate(0);
    }
    60% {
        transform: scale(1.3) rotate(-400deg);
    }
    100% {
        transform: scale(1) rotate(-360deg);
    }
}