.ripple-button {
    position: relative;
    overflow: hidden;
}


.ripple-effect {
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    background-color: #e9ecef;
    opacity: 0.7;
    transform: scale(0);
    animation: ripple-animation .6s ease;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}